flask==2.2.5
Werkzeug
flask-script
flask_migrate
click
blinker
MarkupSafe
flask-login
flask-restx
flask-sqlalchemy
flask-wtf
flask-dance
flask-mail
mysql-connector-python
aniso8601
attrs
Babel
certifi
charset-normalizer
colorama
dnspython
email-validator
Flask-Admin
flask-marshmallow
Flask-Minify
gunicorn
htmlmin
idna
importlib-metadata
importlib-resources
jsmin
jsonschema
lesscpy
Mako
marshmallow
marshmallow-sqlalchemy
oauthlib
ply
pyrsistent
python-dotenv
pytz
rcssmin
requests
requests-oauthlib
six
SQLAlchemy
typing_extensions
urllib3
URLObject
WTForms
xxhash
pyOpenSSL
tensorflow
numpy
matplotlib
piexif
opencv-python
keras
pillow
nltk
fuzzywuzzy
Flask-Limiter
langdetect
unidecode
pyspellchecker
transformers
langid
Flask-Cors
python-docx
pytesseract
torch
torchvision
prettytable
scikit-learn
xlsxwriter
openpyxl
python-Levenshtein
